@font-face {
  font-family: "HMOS Color Emoji Flags";
  src:
    local("HMOS Color Emoji Flags"),
    url("../assets/fonts/HMOSColorEmojiFlags.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1F1E6-1F1FF;
}

@font-face {
  font-family: "HMOS Color Emoji";
  src:
    local("HMOS Color Emoji"),
    url("../assets/fonts/HMOSColorEmojiCompat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A9, U+00AE, U+200D, U+203C, U+2049, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27BF, U+2934-2935, U+2B05-2B07, U+2B1B-2B1C, U+2B50, U+2B55, U+3030, U+303D, U+3297, U+3299, U+1F000-1FAFF, U+E0030-E0039, U+E0061-E007A, U+E007F;
}
