.nuxt/
.output/
dist/
node_modules/
public/
coverage/
*.min.js
*.min.css
.DS_Store
*.log
vendor/
oh_modules/
**/oh_modules/
VoiceHub-hmos/oh_modules/
VoiceHub-hmos/oh-package-lock.json5
app/drizzle/
**/build/
**/.preview/
VoiceHub-hmos/
